@tailwind base;
@tailwind components;
@tailwind utilities;

/* poprawne dla dark UI */
:root {
  color-scheme: dark;
}

/* twardy fallback – zawsze czytelne */
html,
body {
  background-color: #020617; /* slate-950 */
  color: #e4e4e7; /* zinc-200 */
}
